[Desktop Entry]
Name=Noted
GenericName=Note
Comment=Take notes with ease
Categories=Utility;Education;Office
Exec=com.github.suburbanfilth.noted
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=hello-again
Keywords=Hello;World;Example;
